.bg-crousel {
  margin-top: 30px;
  background-color: #fceae8;
  padding-left: 140px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cagories-section {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cagories-section .cataBg1 {
  margin-top: 20px;
  padding: 10px;
  background-color: sandybrown;
}

.cagories-section .cataBg2 {
  margin-top: 20px;
  padding: 10px;
  background-color: aqua;
}

.cagories-section .cataBg3 {
  margin-top: 20px;
  padding: 10px;
  background-color: chartreuse;
}

.shoe_bg1 {
  background-color: darkcyan;
}

.shoe_bg2 {
  background-color: brown;
}

.shoe_bg3 {
  background-color: darkmagenta;
}

.card {
  box-shadow: 5px 5px 5px 7px lightgray;
}
#subscribe {
  background-color: lightskyblue;
}

#subscribe button {
  margin-top: 10px;
  font-size: 15px;
  background-color: mediumslateblue;
  color: white;
}

.footer-class {
  background-color: darkgray;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.footer-class a {
  margin-top: 50px;
  text-decoration: none;
  color: black;
}

.footer-class a:hover {
  color: blue;
}

.footer-class p {
  margin: 10px;
}
